%mon-500 {
  font-family: "Montserrat-Medium";
  font-weight: 500;
}

%mon-600 {
  font-family: "Montserrat-SemiBold";
  font-weight: 600;
}

%mon-700 {
  font-family: "Montserrat-Bold";
  font-weight: 700;
}

%mon-800 {
  font-family: "Montserrat-ExtraBold";
  font-weight: 800;
}

%mon-900 {
  font-family: "Montserrat-Black";
  font-weight: 900;
}

%rub-300 {
  font-family: "Rubik-Light";
  font-weight: 300;
}

%rub-400 {
  font-family: "Rubik-Regular";
  font-weight: 400;
}

%rub-500 {
  font-family: "Rubik-Medium";
  font-weight: 500;
}
